body {
	position: relative;
}

.wrapper {
	display: flex;
	gap: 40px;
}

.field {
	position: relative;

	width: 590px;
	height: 500px;

	border: 1px solid black;

	overflow: hiddend;
}

.cube {
	width: 100px;
	height: 100px;

	background-color: black;

	border-radius: 50px;
}

.button {
	padding: 20px;
	background-color: white;

	border: 1px solid black;

	cursor: pointer;
}

.activeStatus {
	background-color: gray;
	padding: 5px;

	color: #fff;

	border-radius: 10%;
}

.green {
	color: red;
}

.popup {
	display: none;

	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;

	background-color: #fff;

	z-index: 10;
}

.content {
	width: 90%;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	align-items: center;
	justify-content: center;
}

.link {
	font-size: 30px;
	text-decoration: none;
}
